<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="shortcut icon" href="/favicon.png">
        <title><%= current_page.data.title || "Documentation" %></title>

        <link href="//www.processout.com/css/app.css" rel="stylesheet" type="text/css" />
        <link href="//www.processout.com/css/sero.css" rel="stylesheet" type="text/css" />

        <%= stylesheet_link_tag :highlighting, media: :highlighting %>
        
        <%= javascript_include_tag  "jquery.min" %>

        <style>
            body {
                background: #ecf0f1;
            }

            h6 {
                text-transform: uppercase;
                color: #34495e;
            }

            .main-content .menu-bar {
                padding-top: 2em;
            }
            .main-content .menu-bar h6 {
                padding-top: 1rem; 
            }
            .main-content .menu-bar h6:first-child {
                padding-top: 0; 
            }
            .main-content .menu-bar ul {
                margin-bottom: 0.5em;
            }
            .main-content .menu-bar ul li {
                margin-bottom: 0.1em;
            }
            .main-content .menu-bar ul li a {
                color: #2c3e50;
            }

            .main-content .content {
                background: white;
                padding: 2em;
            }
            .main-content .content p:last-child {
                margin-bottom: 0;
            }
            .main-content .content h4 {
                margin-top: 2em;
            }
            .main-content .content pre {
                margin-bottom: 1rem;
            }

            .margin-top {
                margin-top: 2em;
            }
        </style>
    </head>

    <body>
        <div class="big-wrapper colorful dotify lighten-content padding" style="padding: 1em; color:white">
            <div class="row">
                <div class="medium-6 text-left column">
                    <a href="https://www.processout.com" style="font-size: 1.5em; font-weight: bold;">ProcessOut</a>
                    <span style="font-size: 1.1em;">_docs</span>
                </div>
                <div class="medium-6 text-right column" style="margin-top: 0.3em;">
                    <% link_to '//dashboard.processout.com' do %>Dashboard &rarr;<% end %>
                </div>
            </div>
        </div>

        <div class="row main-content">
            <div class="large-12 columns">
                <div class="row">
                    <div class="medium-3 columns menu-bar">
                        <h6>Welcome</h6>
                        <ul class="no-bullet">
                            <li><%= link_to 'Home', '/index.html' %></li> 
                            <li><%= link_to 'Getting started', '/index.html' %></li> 
                            <li><%= link_to 'Libraries', '/index.html' %></li> 
                        </ul>

                        <h6>Accept payments</h6>
                        <ul class="no-bullet">
                            <li><%= link_to 'Payment modal', '/payments/modal.html' %></li>
                            <li><%= link_to 'ProcessOut.js', '/payments/processoutjs.html' %></li>
                        </ul>
                        <ul class="no-bullet">
                            <li><%= link_to 'Capture a payment', '/payments/capture.html' %></li>
                            <li><%= link_to 'Save token and capture later', '/payments/tokenize.html' %></li>
                            <li><a href="#">Failed and pending captures</a></li> 
                        </ul>
                        <ul class="no-bullet">
                            <li><a href="#">Alternatives payment methods</a></li>
                        </ul>

                        <h6>Subscriptions</h6>
                        <ul class="no-bullet">
                            <li><a href="#">Getting started</a></li>
                            <li><a href="#">Plans and associated billing cycles</a></li>
                            <li><a href="#">Subscribe a customer</a></li>
                        </ul>
                        <ul class="no-bullet">
                            <li><a href="#">Trials</a></li>
                            <li><a href="#">Discounts &amp; coupons</a></li>
                            <li><a href="#">Upgrades &amp; downgrades</a></li>
                        </ul>
                        <ul class="no-bullet">
                            <li><a href="#">Alternatives payment methods</a></li>
                        </ul>

                        <hr style="margin-top: 2em;">

                        <h6>Advanced</h6>
                        <ul class="no-bullet">
                            <li><%= link_to 'API reference &rarr;', '/refs/index.html' %></li>
                        </ul>
                    </div>
                    <div class="medium-9 columns content">
                        <%= yield %>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
